body {
    background-image: url(Assets/back/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#title {
    color: rgb(245, 118, 228);
    border: 2px solid rgb(245, 118, 228);
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}